* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins";
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: #000;
}

.banner {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(background.jpg);
    background-size: cover;
    background-position: center;
}

.navbar {
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 80px;
    cursor: pointer;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color: floralwhite;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #FF0000;
    position: absolute;
    left: 0;
    bottom: -15px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: antiquewhite;
}

.content h1 {
    font-size: 70px;
    margin-top: 80px;
}

.content p {
    font-size: 20px;
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}

button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #FF0000;
    background: transparent;
    color: antiquewhite;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}

span {
    background: #FF0000;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}

button:hover span {
    width: 100%;
}

.main {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
}

.profile-card {
    position: relative;
    width: 230px;
    height: 230px;
    background: #000;
    padding: 40px;
    border-radius: 50%;
    transition: .5s;
    margin: 0 25px;
}

.profile-card:hover {
    width: 210px;
    height: 210px;
    border-radius: 10px;
    background: #fff;
    height: 270px;
    cursor: pointer;
}

.profile-card .img {
    position: relative;
    width: 100%;
    height: 100%;
    transition: .5s;
    z-index: 99;
}

.profile-card:hover .img {
    transform: translateY(-55px);
}

.img img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: .5s;
}

.profile-card:hover img {
    border-radius: 10px;
}

.caption {
    text-align: center;
    transform: translateY(-95px);
    opacity: 0;
    transition: .6s;
}

.profile-card:hover .caption {
    opacity: 1;
}

.caption h3 {
    font-size: 16px;
    color: #000;
}

.caption p {
    font-size: 13px;
    color: #000;
    margin: 2px 0 9px 0;
}

a,
a:hover {
    text-decoration: none;
}

.caption i {
    display: inline-block;
    font-size: 16px;
    color: #000;
    text-align: center;
    border: 1px solid #000;
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    margin: 0 3px;
}

.caption .icon-block {
    float: left;
    width: 100%;
    margin-top: 5px;
}

.caption .icon-block a {
    text-decoration: none;
}

.caption i:hover {
    transition: all 1s ease;
    background-color: #000;
    color: #fff;
    text-decoration: none;
}